@{
  Layout = "_Layout";
}

<h1>Hello From Afar</h1>
<p>Dear @Model.GetNoun1(),</p>
<p>How are you? I hope @Model.GetVerb1() that you are having a nice weekend. I'm vacationing in Iceland while I learn programming! </p>
<p>, you would not believe how cold @Model.GetAdverb() it is here. I should have gone to Hawaii instead.</p>
<p>But I like programming a lot, so @Model.GetNoun2() I've got that going for me. </p>
<p>Looking forward to seeing you soon. I'll bring you @Model.GetVerb2() back a souvenir. </p>
<p>Cheers,</p>
<p>Travel Enthusiast </p>
